.list-group a:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.single-row {
  display: flex;
  align-items: center;
}

.single-row > div {
  display: flex;
  align-items: center;
}

.single-row > div::after {
  content: " > ";
  margin: 0 5px; 
}

.single-row > div:last-child::after {
  content: "";
  margin: 0;
}

.search-container {
  position: relative;
}

.revspire-text {
  position: absolute;
  left: 10px; 
  color: black;
  font-weight: bold; 
}

.src {
  width: 70vw;
}

.src > span > input {
  border: 2px solid gray;
  width: 20vw;
}

.src > span {
  padding-left: 49vw;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
   padding-left: 49vw;
}

.single-row {
  display: flex;
}

.btn-group {
  display: flex;
  margin-left: 65vw; 
  gap: 10px;
}

.btn-group button {
  margin-left: 10px;
}

.round-button {
    display: inline-block;
    padding: 8px 15px; 
    border: 2px solid gray; 
    border-radius: 10px;
    background-color: white; 
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px; 
    cursor: pointer;
  }

  .round-button:hover {
    background-color: lightcoral; 
   
  }

    .circle{
      display: inline-block;
    padding: 8px 20px; 
    border: 2px solid gray; 
    border-radius: 25px;
    background-color: white; 
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px; 
    cursor: pointer;
  }

  .circle:hover {
    background-color: lightcoral; 
   
  }

    